
p, span, li, input, button {
	font-family: Montserrat, Arial, Helvetica, sans-serif !important;
}
#zo-header-logo {
	display: none;
}
.top-logo, .guaranty, .sale, #basket {
	position: absolute;
	right: 50px;
	top: 36px;
	visibility: visible;
	display: block;
	width: 121px;
	z-index: 900000;
}
.guaranty {
	top: 65px;
	right: 187px;
	color: red;
	font-size: 20px;
	font-weight: 900;
	width: 210px;
	cursor: pointer;
}
.sale {
	top: 110px;
	width: auto;
	color: red;
	font-size: 12px;
	font-weight: 600;
	right: 54px;
	cursor: pointer;
}
.sale .fa {
	padding-left: 10px;
}
.sale span {
	position: relative;
	top: -5px;
	font-size: 20px;
	font-weight: 600;
}
#basket {
	top: 155px;
	right: 49px;
}
#basket::before {
	content: "\f07a";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: -45px;
	font-size: 37px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	color: #555;
}
.top-logo > div:first-child {
	background: #FDEDAC;
	font-size: 20px;
	color: #23297A;
	padding: 3px 12px 5px;
	line-height: 1;
	letter-spacing: 4.5px;
	font-weight: 900;
	border-radius: 5px 5px 0 0;
}
.top-logo > div:last-child {
	background: #23297A;
	font-size: 17px;
	color: #FDEDAC;
	padding:  6px 12px 3px;
	line-height: 1;
	border-radius: 0 0 5px 5px;
}
body .nav-menu {
	padding-right: 30px;
}
body .wpcf7-form .mercury-contact-form .name {
	margin-right: 0;
}
body .wpcf7-form .mercury-contact-form > p {
	width: 100%;
	margin-bottom: 15px;
}
body .wpcf7-form .mercury-contact-form .email {
	margin-left: 0;
}
.mercury-contact-form input + span {
	display: none !important;
}
.unit-test #main {
	margin-bottom: 0 !important;
}
.footer-social {
	display: none;
}
#footer {
	display: table;
	width: 100%;
	background: #000;
	color: #ccc;
	padding: 10px 0;
	margin-top: -2px;
}
#zo-footer-copyright {
	display: none;
}
#back_to_top span {
	outline: 1px solid #777;
}
.vc_inner img {
	padding: 0 20px;
}
a[href="#callToMaster"] {
	color: #FFF;
}
a[href="#callToMaster"]:hover {
	color: #FFF;
	text-shadow: 1px 1px 2px #427388;
}
#rightButton {
	position: fixed;
	right: 1px;
	top: 50%;
	z-index: 900001;
	padding: 5px;
	background: #75B62E;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-bottom: 2px;
	display: none;
}
#rightButton span {
	cursor: pointer;
}
#rightButton i {
	color: #FFF;
}
#page {
	position: relative;
}
#rightButton .fa-calculator {
	font-size: 15px;
	position: relative;
	top: -2.3px;
	left: 0.5px;
} 
#rightButton .fa-envelope-o {
	font-size: 15px;
	position: relative;
	top: -2.3px;
	left: 0.5px;
}
#rightButton .fa-times {
	position: absolute;
	top: -15px;
	right: 0;
	color: #75B62E;
	cursor: pointer;
}
#rightButton .title {
	position: absolute;
	right: 55px;
	background: #FFF;
	padding: 5px 10px;
	border-radius: 7px;
	width: 160px;
	font-size: 11px;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	display: none;
	border: 1px solid #75B62E;
}
#paranja, #thanks, #error {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 990000;
	overflow: auto;
}
#thanks:target, #error:target {
	display: block;
}
#thanks > div, #error > div {
	width: 200px;
	height: 105px;
	margin: auto;
	text-align: center;
	background: #ccc;
	z-index: 990002;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px rgba(255,255,255, .5);
	box-shadow: 0 0 15px rgba(255,255,255, .5);
	line-height: 1.2;
	font-size: 14px;
}
#window {
	width: 400px;
	height: 355px;
	margin: auto;
	display: none;
	background: #4ebb13;
	z-index: 990001;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px rgba(255, 255, 255, .5);
	box-shadow: 0 0 15px rgba(255, 255, 255, .5);
}
#window h4 {
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 18px;
}
#window .guaranty-window h4 {
	margin-bottom: 0;
	text-align: left;
}
#window .guaranty-window ul, #window .guaranty-window ol {
	margin-bottom: 0;
}
#window > div {
	display: none;
}
#window .fa-times {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	-webkit-transition: all 1s;
	transition: all 1s;
}
#window .fa-times:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
#thanks i, #error i {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 1s;
	transition: all 1s;
	color: #fff;
}
#window form button {
	width: 200px;
	display: block;
	padding: 8px;
	margin-left: auto;
	border-radius: 7px 0;
	background: #4ebb13;
	color: #fff;
	border: 2px solid;
	position: relative;
	top: 3px;
}
#window form button:hover {
	background: #3a8b0e;
}
#window form .recaptcha-wrap {
	position: absolute;
	left: 0;
	top: -15px;
	clip: rect(15px 160px 59px auto);
}
#window form .form-group.captcha {
	position: relative;
}
#window  textarea {
	height: auto;
}
#window input[type='text'], 
#window input[type='email'] {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}
#window .form-group {
	margin-bottom: 11px;
}
body #zo-header .zo-header-secondary {
	float: left;
	padding-top: 80px;
	padding-left: 35px;
}
body .zo-header-navigation .nav-menu > li, 
body .zo-header-navigation .nav-menu > li > a, 
body .widget_cart_search_wrap a {
	color: #555;
}
#header-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	top: 250px;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 900000;
	text-align: center;
	font-weight: 900;
	padding-left: 50px;
	padding-right: 50px;
}
#header-img p {
	padding-top: 25px;
}
#header-img > div:nth-child(1) {
	padding-right: 20px;
}
#header-img > div:nth-child(2) {
	padding-left: 20px;
	padding-right: 20px;
}
#header-img > div:nth-child(3) {
	padding-left: 20px;
}