/* 
	Mercury Unit Style
*/
.zo-page-title-text h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
}
a {
	color: #404d66;
}
a:hover, a:active {
	color: #81d742;
}
.unit-test #main {
	margin-bottom: 80px;
}
.zo-header-navigation .menu > ul {
	padding: 0;
	list-style: none;
}
.zo-header-navigation .menu > ul a {
	color: #fff;
}
.zo-header-navigation .menu > ul a:hover {
	color: #81d742;
}